<!DOCTYPE html>
<html>
<title>Calendly Submission</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1 {
        font-family: "Raleway", sans-serif
    }
    
    body,
    html {
        height: 100%
    }
    
    .bgimg {
        background-color: #55d386;
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">Please share your calendly link with us for scheduling tutoring sessions</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">
                <!-- check the route -->
                <form id="tutorcal" action="/api/tutor/calender" enctype="multipart/form-data" method="post">
                    Your Email:<input type="text" name="calendly_link" required></input>
                    Calendly Link:<input type="text" name="calendly_link" required></input>
                    <button type="submit">Submit</button>
                </form>
            </p>
            <h1>*If you have not created a calendly account yet, please create one</h1>
        </div>
    </div>

</body>

</html>