<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Alliances</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\topaz\Documents\learningalliance\css\newhome.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light m-5">
        <a class="navbar-brand" href="#">
            <span class="mb-0 h2" style="color: #36a598; font-weight: bold; font-family: apple-system, BlinkMacSystemFont, sans-serif;">Learning </span>
            <span class="mb-0 h2" style="color: #7b7b7b;; font-weight: bold; font-family: apple-system, BlinkMacSystemFont, sans-serif;">Alliances</span></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <a class="nav-item nav-link mr-4 h5" href="#">For Students</a>
                <a class="nav-item nav-link mr-4 h5" href="#">For Tutors</a>
                <a class="nav-item nav-link mr-4 h5" href="#">FAQ</a>
                <a class="btn Signin mr-5 h5" href="#" role="button">Sign in</a>
            </ul>
        </div>
    </nav>
    <div class="container-fluid pr-lg-5 pl-lg-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <p><span class="High-Quality-Tutorin">High Quality Tutoring For Free</span></p>
                    <div class="row mt-5">
                        <div class="col">
                            <p><span class="Our-mission-is-to-co">Our mission is to connect middle school students that need academic help with qualified volunteer high-school tutors looking to earn volunteering credit.
                            </span></p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <p> <span class="All-tutoring-session">All tutoring sessions are conducted online.
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn student-Rectangle mr-5 mt-5">Find a Tutor</button>
                            <button type="button" class="btn tutor-Rectangle mt-5">Become a Tutor</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col h-100">
                <img src="C:\Users\topaz\Documents\learningalliance\css\images\5 SCENE.svg" class="img-fluid mr-6" alt="Responsive image">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>