<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Alliances</title>
    <!-- <link rel="stylesheet" href="/css/newhome.css" /> -->
    <link rel="stylesheet" href="C:\Users\topaz\Documents\learningalliance\css\newhome.css" />
</head>

<body>
    <h1 class="Learning">Learning</h1>
    <h1 class="Alliances">Alliances</h1>
    <!-- <div class="topbar"> -->
    <a href="401.html" class="For-Students"> For Students </a>

    <a href="401.html" class="For-Tutors"> For Tutors </a>
    <a href="401.html" class="FAQ">FAQ</a>
    <!-- <button>Sign in</button>
    </div>
    <p class="High-Quality-Tutorin">High Quality Tutoring For Free</p>
    <p class="Our-mission-is-to-co">Our mission is to connect middle school students that need academic help with qualified volunteer high-school tutors looking to earn volunteering credit.</p>
    <p class="All-tutoring-session">All tutoring sessions are conducted online.</p>
    <button>Student Registration </button>
    <button>Become a Tutor</button> -->

</body>

</html>