<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="\css\studentthankyou.css">
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/countrystatecity"></script>

<body style="font-family: apple-system, BlinkMacSystemFont, sans-serif; color:#505050;">
    <div class="leftRectangle sticky-top">
        <nav class="navbar navbar-expand-sm navbar-light p-5">
            <a class="navbar-brand" href="#">
                <span class="mb-0 h2" style="color: #36a598; font-weight: bold; font-family: apple-system, BlinkMacSystemFont, sans-serif;">Learning </span>
                <span class="mb-0 h2" style="color: #7b7b7b;; font-weight: bold; font-family: apple-system, BlinkMacSystemFont, sans-serif;">Alliances</span></a>
        </nav>
        <div class="text-center">
            <img src="css\images\Student_Studying_Scene.svg" class="img-fluid w-75 pt-3" alt="Responsive image ">
        </div>
    </div>

    <div class="rightRectangle d-flex align-items-center justify-content-center">
        <form action="/api/student/register" method="post" name="RegForm" onsubmit="return ValidationForm()" enctype="multipart/form-data">
            <span class="pt-5 mt-5 mb-4 d-flex align-items-center justify-content-center h2" style="color: #36a598; font-weight: bold; font-family: Helvetica;">Student Sign Up </span>
            <div id="first">
                <div class="form-group">
                    <p><label> What is your name?</label></p>
                    <div class="form-inline">
                        <input class="form-control pt-2 pb-2 mr-4" type="textbox" name="firstName" pattern="[a-zA-Z]*" placeholder="First name" required>
                        <input class="form-control pt-2 pb-2" type="textbox" name="lastName" pattern="[a-zA-Z]*" placeholder="Last name" required><br>
                    </div>

                </div>
                <div class="form-group">
                    <p>
                        <label>Email Address</label><br>
                        <input class="form-control pt-2 pb-2" type="email" name="email" pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
                            required>
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <label>Where do you live?</label><br>
                        <select class="custom-select col w-auto" onchange="set_country(this,country,city_state)" size="1" name="region">
                        <option value="" selected="selected">Select Region</option>
                        <option value=""></option>
                        <script type="text/javascript">
                          setRegions(this);
                        </script>
                        </select>
                        <select class="custom-select col w-auto" name="country" size="1" disabled="disabled" onchange="set_city_state(this,city_state)">Country</select>
                        <select class="custom-select col w-auto" name="city_state" size="1" disabled="disabled" onchange="print_city_state(country,this)">City/State</select>
                    </p>
                </div>

                <div class="form-group form-inline">
                    <br>
                    <label>Gender</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary m-2 rounded">
                                <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Female">Female
                                </label>

                                <label class="btn btn-outline-primary m-2 rounded">
                                <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Male"> Male
                                </label>

                                <label class="btn btn-outline-primary m-2 rounded">
                                <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="Other"> Other
                                </label>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>What is the name of your school?</label>
                    <input class="form-control pt-2 pb-2" type="textbox" name="school" id="school" pattern="[a-zA-Z]*" />
                </div>

                <div class="form-check-inline">
                    <p>
                        <legend class="col-form-label">What grade will you be attending?</legend>
                        <label> <input class="form-check-input" type="radio" name="grade" id="grade" value="6" required>6th Grade</label>
                        <label> <input class="form-check-input" type="radio" name="grade" id="grade" value="7" required>7th grade</label>
                        <label> <input class="form-check-input" type="radio" name="grade" id="grade" value="8" required>8th Grade </label>
                    </p>
                </div>

                <p>
                    <div class="text-center">
                        <button id="next" type="button" class="btn next">Next</button>
                    </div>
                </p>
            </div>
            <!-- start of the next page in the form -->
            <div id="second">
                <div class="form-check-inline">
                    <p>
                        <legend class="col-form-label">What subjects do you need tutoring in?</legend>
                        <input class="form-check-input " id="myCheckbox1" type="checkbox" name="subjects" value="English"><label class="icon"><img src="\css\images\English_Icon.svg" /> English</label>
                        <input class="form-check-input " id="myCheckbox1" type="checkbox" name="subjects" value="Math"><label class="icon"><img src= "\css\images\Math_Icon.svg"/> Math</label>
                        <input class="form-check-input " id="myCheckbox1" type="checkbox" name="subjects" value="Science"><label class="icon"><img  src= "\css\images\Science_Icon.svg"/>Science </label>
                        <script>
                            ('.subjects').change(function() {
                                if (this.checked) {
                                    checked.push(this.value);
                                    unchecked.splice(this.value, 1);
                                } else {
                                    unchecked.push(this.value);
                                    checked.splice(this.value, 1);
                                }
                            }).change();
                        </script>
                    </p>
                </div>
                <div class="form-group">
                    <legend class="col-form-label">Why do you want to get tutoring?</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="reasonForTutor" id="reasonForTutor" value="Currently struggling at grade level"> <label class="form-check-label"> I'm currently struggling at grade level.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="reasonForTutor" id="reasonForTutor" value="Extra studies at grade level"><label class="form-check-label">I want to study more at my current grade level.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="reasonForTutor" id="reasonForTutor" value="Study ahead for next grade "><label class="form-check-label"> I want to study ahead for next grade level. </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="reasonForTutor" id="reasonForTutor" value="Interested in learning advanced topics way above my grade level"><label class="form-check-label">I’m interested in learning advanced topics way ahead my grade level. </label>
                    </div>
                </div>
                <div class="form-check-inline">
                    <p>
                        <legend class="col-form-label">Duration of tutoring</legend>
                        <label> <input class="form-check-input" type="radio" name="duration" id="duration" value="1-3 months" required>1-3 months</label>
                        <label> <input class="form-check-input" type="radio" name="duration" id="duration" value="3-6 months">3-6 months</label>
                        <label> <input class="form-check-input" type="radio" name="duration" id="duration" value="6-12 months">6-12 months </label>
                        <label> <input class="form-check-input" type="radio" name="duration" id="duration" value="12+ months">12+ months </label>
                    </p>
                    <script src="checkall"></script>
                </div>

                <div class="form-group form-inline">
                    <label class="mr-2">Sessions Frequency </label>
                    <input class="form-control pt-2 pb-2" type="textbox" name="sessionFreq" pattern="[0-9]+" placeholder="2 (Twice a week)" required>
                </div>
                <div class="form-group">
                    <legend class="col-form-label"> Do any of these apply to you?</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="The student attends a Title 1 School "><label class="form-check-label"></label>The student attends a Title 1 School.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="The student receives free lunch at school "><label class="form-check-label"></label>The student receives free lunch at school. </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="The student receives reduced-price lunch at school"><label class="form-check-label"></label>The student receives reduced-price lunch at school.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="The student is a foster child"><label class="form-check-label"></label>The student is a foster child.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="The student is homeless"><label class="form-check-label"></label>The student is homeless.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="The family is on or qualifies for food stamps"><label class="form-check-label"></label>The family is on or qualifies for food stamps.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="Parents jobs are impacted by COVID"><label class="form-check-label"></label>Parents jobs are impacted by COVID.</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="eligibilityForFreeTutor" value="Other financial hardship"><label class="form-check-label"></label>Other financial hardship.</label>
                        <script src="checkall"></script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend form-inline">
                            <label class="mr-2" id="inputGroupFileAddon01">Upload student ID card </label>
                        </div>
                        <div class="custom-file pt-2 pb-2">
                            <input class="custom-file-input" type="file" accept="image/*" name="prodImage" aria-describedby="inputGroupFileAddon01" id="file" onchange="loadFile(event)" required>
                            <label class="custom-file-label"></label>
                        </div>
                        <script>
                            document.querySelector('.custom-file-input').addEventListener('change', function(e) {
                                var fileName = document.getElementById("file").files[0].name;
                                var nextSibling = e.target.nextElementSibling
                                nextSibling.innerText = fileName
                            })
                        </script>
                    </div>
                </div>

                <div class="text-center">
                    <p>
                        <input class="btn" type="submit" name="SubmitBtn" id="SubmitBtn">
                    </p>
                </div>

                <script>
                    $.ajaxSetup({
                        headers: {
                            'Coming from': 'Student'
                        }
                    });
                </script>
                <script>
                    $(document).ready(function() {
                        $('.gender').on('change', function() {
                            var radiosGender = document.getElementsByName('gender');
                            if (radiosGender.length == 0) {
                                alert("please check one option");
                            }
                        });
                    });
                </script>
                <script>
                    var loadFile = function(event) {
                        var image = document.getElementById('output');
                        image.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>

            </div>
        </form>
    </div>


    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#next').click(function() {
                $('#second').show();
                $('#first').hide();
            })
        })
    </script>
</body>

</html>