<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank You!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="\css\studentthanks.css">
</head>

<body>

    <div class="leftRectangle">
        <nav class="navbar navbar-expand-sm navbar-light p-5">
            <a class="navbar-brand" href="#">
                <span class="mb-0 h2" style="color: #36a598; font-weight: bold; font-family: apple-system, BlinkMacSystemFont, sans-serif;">Learning </span>
                <span class="mb-0 h2" style="color: #7b7b7b;; font-weight: bold; font-family: apple-system, BlinkMacSystemFont, sans-serif;">Alliances</span></a>
        </nav>
        <div class="text-center">
            <img src="\css\images\Student_Studying_Scene.svg" class="img-fluid w-75 pt-3" alt="Responsive image ">
        </div>
    </div>

    <div class="rightRectangle d-flex align-items-center justify-content-center">
        <div class="">
            <h1 class="thanks">Thanks for registering.</h1>
            <p class="email">Please check your email for the registration details</p>
        </div>
    </div>



    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>